
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,700');

/************* GENERAL *************/
html {
    font-family: sans-serif;
      overflow-x: hidden;
      scroll-behavior: smooth;
}

body {
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}

.content-container{
    position:relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'title'
    'about'
    'exp'
    'skills'
    'projects'
    'contact';
}

.title{
    grid-area: title;
    padding-bottom: 50px;
}
.about{
    grid-area: about;
    position:relative;
}
.experience{
    grid-area: exp;
    position:relative;
    padding-bottom: 50px;
}
.skills{
    grid-area:skills;
    position:relative;
}
.projects{
    grid-area: projects;
    position:relative;
    padding-bottom: 50px;
}
.contact{
    grid-area:contact;
    position:relative;
    padding-bottom: 50px;
}

section{
    font-family: 'Open Sans', sans-serif;
    color: #2E2E2E;
    display: block;
}

.dark-line {
    width: 600px;
    height: 0.5px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #2E2E2E;
    margin: 0 auto;
    opacity:0.2;
}

.italic-quote{
    font-size: 10px;
    color: grey;
    text-align: center;
}

/**********************************/
/************ NAVBAR **************/
/**********************************/
.fixed-navbar {
    top: 0px;
    z-index: 100;
    position: fixed;
    width: 100%;
}
nav{ padding-top: 5px;
    background-color: #ffffff;
}

.nav_links {
    height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    justify-content: center;
}

.nav_links .active {
    color: #4a99c2;
    text-decoration: none;
}

.nav_links li {
    padding-top: 8px;
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2E2E2E;
}

.nav_links li:hover{
    -webkit-animation-name: hoverscale;
    animation-name: hoverscale;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav_links li a {
    padding: 0 25px;
    display:block;
    color: #2E2E2E;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #4a99c2;
}

.show_links{
    height: 15rem;
    display:block;

}
@media screen and (min-width: 800px) {
    .handle {
       display: none;
    }
    .nav_links {
        height: auto;
        display: flex;
    }
}

.handle{
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    background: #FFFFFF;
    opacity:0.7;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

/**********************************/
/************ SECTIONS ************/
/**********************************/
/*Title*/
.section1{
    text-align: center;
    width: 100%;
    background-image: url('../images/DSC02837.JPG');
    background-size: cover;
}

/*About*/
.section2{
    background-color: #FFFFFF;
}

/*Experience*/
.section3{
    background-color: #c2d3da;
}

/*Skill*/
.section4{
    margin:0 auto;
}

/*Project*/
.section5{
    background-color: #FFFFFF;
}

/*Contact*/
.section6{
    background-color: #0f1f30;
}

/*Changing height of each section*/
/*FOR SMALLER OR MOBILE VIEW*/
/**********************************/
/************* TITLE **************/
/**********************************/
.section1 h1{
    margin-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-shadow: 0px 0px 5px #5a8ba4;
}

.title-line {
    width: 70%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    margin: 0 auto;
    opacity:0.5;
}

.section1 p{ 
    color: #051220;
    padding-top: 15px;
    margin-bottom: 25%;
    letter-spacing: 3px;
    text-shadow: 0px 0px 5px #fff;
}

.chevron {
    position: relative;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 5px;
    width: 100px;
    margin: 0 auto;
    left:0;
    margin-top: 300px;
}

.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: #FFFFFF;
    -webkit-transform: skew(0deg, 15deg);
    -moz-transform: skew(0deg, 15deg);
    -ms-transform: skew(0deg, 15deg);
    -o-transform: skew(0deg, 15deg);
    transform: skew(0deg, 15deg);
}
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 50%;
    background: #FFFFFF;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
}​


/**********************************/
/************* ABOUT **************/
/**********************************/
.section h3{
    color: #4a99c2;
    font-size: 50px;
    padding: 0px;
    text-align: center;
}
.section2 .subheader{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 0px;
    color: #FFFFFF;
    font-size: 25px;
}
.about-panel{
    padding: 15px 25px;
}
.image-me{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img about-me';
}
.img-circle{
  grid-area: img;
  float:right;
}
.img-circle img{
    width: 50%;
    float:right;
}
.about-panel{
    grid-area: about-me;
    /* display:flex; */
    height: 100%;
    margin-bottom: auto;
    padding:50px;
}

.image-me .about-panel h3{
    font-size: 50px;
    color: #4a99c2;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top:0;
}
.image-me .dark-line{
    width: 600px;
    margin-left:0;
    margin-bottom: 15px;
}

.education-panel{
    margin-left: 75px;
    padding: 50px;
    color: #000;
    background-color: #79a8b5;
}

/**********************************/
/********** EXPERIENCE ************/
/**********************************/
.section3 h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0f1f31;
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
}
.work-panel{
    padding: 0px 25px;
    /* transform: translateX(-20px); */
    transition: all 0.3s ease-in-out;
    color: #0f1f31;
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center; 

}

.job-panel{
    margin-bottom: 30px;
    width: 60%;
}


/**********************************/
/************* SKILLS *************/
/**********************************/

.section4 .skill{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #4a99c2;
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
}

.bigFlower{
    font-size: 35px;
    color: #FFD37E;
}
.smallFlower{
    font-size: 15px;
    opacity: 0.7;
}

.section4 dark-line{
    padding-bottom: 15px;
}

.skills .skill-panel-container{
    display:grid;
    padding-top: 50px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: 'lang tools';
    grid-gap: 15px;
}
.lang{
    grid-area:lang;
    padding: 15px;
    border: 3px dashed #d9dc9b;
    border-radius : 0px 10px 10px 0px;
}
.tool{
    grid-area:tools;
    padding: 15px;
    border: 3px dashed #4a99c2;
    border-radius :10px 0px 0px 10px;
}

@media (max-width: 800px){
    .skills .skill-panel-container{
        grid-template-areas: 
        'lang lang'
        'tools tools';
        /* justify-content: center;
        align-items: center; */
        grid-gap: 15px;
    }
    .section1{
        text-align: left !important;
        padding-left: 15px;
    }
    .about-panel{
        width: 60%;
    }
    .title-line {
        margin: 0px 0px;
    }
}

.lang-panel-text p{
    font-size: 25px;
    color: #aaab97;
}
.tool-panel-text p{
    font-size: 25px;
    color: #0e4082;
}

/**********************************/
/*********** PROJECTS *************/
/**********************************/
.section5 h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #4a99c2;
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
}

/*overridebootstrap*/
.section5 .nav {
    background-color: #FFFFFF !important;
}

.section5 .nav>li>a {
    background-color: #FFFFFF !important;
    color:  #2E2E2E;
}

.section5 .nav li a:hover{
    color: #4a99c2;

}

.section5 .projheader{
    color:#aaab97;
    font-size: 25px;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section5 .projheader p li{
    font-size: 10px;
}

.tabb{
    color: #7CC473;
}
.tabb a:hover{
    color: #000000;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      height: 100px;
      margin: auto;
}

.portfolio-button{
    margin: 0 auto;
    left: 50%;
    padding-top: 20px;
}

.myButton {
    background-color:#4a99c2;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;
    font-size:15px;
    padding:19px 35px;
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
}
.myButton:hover {
    background-color:#81764d;
    text-decoration: none;
    color:#FFFFFF;
}
.myButton:active {
    position:relative;
    top:1px;
}

/* Responsive bit for other items in section 4 */


/**********************************/
/*********** CONTACTS *************/
/**********************************/
.section6 h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    padding: 20px 0px;
    text-align: center;
}

.contact-line {
    width: 500px;
    height: 0.5px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    margin: 0 auto;
    opacity:0.5;
}

.fa {
    color: #FFFFFF;
    padding: 0px 15px 20px 0px;
    text-align: center;
    opacity: 0.8;
}
.icon-panel{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.icon-panel a{
    color: #FDF8E2;
    opacity: 0.8;
    transition-property: font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.icon-panel a:hover{
    text-decoration: none;
    font-size: 15px;
}
